snippet ü "convert ü"
${::ue}
endsnippet

snippet ä "convert ä"
${::ae}
endsnippet

snippet ö "convert ö"
${::oe}
endsnippet

snippet Ü "convert Ü"
${::UE}
endsnippet

snippet Ä "convert Ä"
${::AE}
endsnippet

snippet Ö "convert Ö"
${::OE}
endsnippet
