snippet n "Note"
\note{$1}$0
endsnippet

snippet c "Cite" i
~\cite{$1}$0
endsnippet

snippet r "Ref" i
~\ref{$1}$0
endsnippet

snippet ch "Chapter" b
\chapter{$1}\label{$2}$0
endsnippet

snippet s "Section" b
\section{$1}\label{$2}$0
endsnippet
